git
curl
build-essential
ca-certificates
python2.7 
python2.7-dev
python-dev
python-pip
libssl-dev
libcurl4-openssl-dev
libdc1394-22
libdc1394-22-dev
libjpeg-dev
libpng12-dev
libtiff5-dev
libjasper-dev
libmemcached-dev
libjpeg-turbo-progs
graphicsmagick
libgraphicsmagick-dev
libboost-python-dev
python-numpy
python-opencv
redis-server
supervisor
nginx